<%= render "shared/header" %>
<h3>検索ページ</h3>
<h3><%= link_to 'トップページへ戻る', root_path%></h3>
<div class='item-contents' id="detailed-search-result-wrapper">
  <%= search_form_for @q, url: search_items_path, html: {id: "detailed-search-form"} do |f| %>
    <div class="search-field">
      <%= f.label :name_cont, '商品名' %>
      <br>
      <%= f.text_field :name_cont, placeholder: '商品名' %>
      </div>
      <div class="search-field">
        <%= f.label :category_id_eq, 'カテゴリ' %>
        <br>
        <%= f.collection_select(:category_id_eq, Category.all, :id, :name, {include_blank: "---"}) %>
      </div>
    <%= f.submit '検索' %>
  <% end %>
  <ul class='item-lists' id="detailed-search-result">
    <% @items.each do |item| %>
      <li class='list'>
        <div class="posted-content">
          <%= image_tag item.image %><br>
          <%= item.name%><br>
          <%= link_to '詳細', item_path(item.id)%>
        </div>
      </li>
    <% end %>
  </ul>
</div>